{{!
This file is part of Moodle - http://moodle.org/

Moodle is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Moodle is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Moodle. If not, see
<http: //www.gnu.org/licenses />.
}}
{{!
@template local_dcmspartner/manage


Example context (json):
{

}
}}
<div class="container">
<h2 class="text-center">Valueable Partners</h2>
<hr>
    <div class="row">
        {{#message}}
<div class="col-xs-auto">
        <div class="localmessage card  m-2" style="width: 16rem;">
            <div class="card-body">
                <img src="{{picurl}}" alt="" width="100" height="100" class="dcms_img" />
                <h5>{{partnername}}</h5>


            </div>
            <span class="op text-center">
                <a href="{{editpage}}?id={{id}}">
                    {{#pix}} t/edit, core, Edit this section {{/pix}}
                </a>
                <a href="{{editpage}}?id={{id}}&del=1">
                    {{#pix}} t/delete, core, Edit this section {{/pix}}
                </a>
            </span>
        </div>
    </div>
        {{/message}}
    </div>
    <hr>
    <div class="text-center">
    <input type="button" class="btn btn-primary" value="{{val}}" onclick="location.href='{{editpage}}'" />
    <input type="button" class="btn btn-secondary" value="{{back}}" onclick="location.href='{{backurl}}'">
</div>
</div>